:root {
    --primario: #0f8eb4;
    --primario-brillante: #0cb4da;
    --secundario: #4b3994;
    --complementario: #ffd000;
    --complementario-brillante: yellow;
}

html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
}
.bg-gray {
    filter: grayscale(1);
}
a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #fff!important;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin: 2.5rem 0;
    color: var(--secundario);
    white-space: nowrap;
}
h2::before {
    content: "";
    border-bottom: 4px solid var(--primario);
    padding: 1.5rem;
    width: 85px;
    display: inline-block;
    position: absolute;
}
h3 {
    font-size: 2rem;
    text-align: center;
}

.hero {
    background-image: url("../img/hero.png");
    background-position: center bottom;
    background-size: cover;
    filter: brightness(.5);
    height: 85vh;
    position: relative;
}

.contenedor-hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.contenedor-hero .contenedor {
    margin-left: 6rem;
}
.contenedor {
    margin: 0 auto;
    max-width: 90%;
}
.header {
    padding: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
    align-content: center;
}
.logo {
    width: 4.5rem;
}
.header i {
    margin-top: 2rem;
    cursor: pointer;
}

.datos {
    margin: 0;
    color: #fff;
    width: 50%;
    font-size: larger;
}
.datos .title {
    line-height: 1;
    margin-bottom: 0;
}
.datos p.resumen {
    margin-top: .75rem;
    line-height: 1.75;
}

@media only screen and (max-width: 940px) {
    .datos {
        font-size: medium;
        width: 60%;
    }
}
@media only screen and (max-width: 740px) {
    .datos {
        margin-left: 0;
        width: 80%;
    }
}

@media only screen and (max-height: 655px) {
    .hero {
        height: 120vh!important;
    }
    .datos {
        margin-top: -1rem;
        font-size: small !important;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 20pt!important;
    }
}
@media only screen and (max-height: 765px) {
    .hero {
        height: 100vh!important;
    }
    .datos {
        margin-top: 0;
    }
}
@media only screen and (min-height: 900px) {
    .datos {
        margin-top: 3rem;
    }
}
@media only screen and (max-height: 450px) {
    .hero {
        height: 140vh!important;
    }
}
.btn {
    padding: .75rem 2rem;
    cursor: pointer;
    background: var(--primario);
    border: none;
    width: max-content;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 700;
    color: #c5c5c5;
    transition: all .5s ease;
}
.btn:hover {
    background: var(--primario-brillante);
    transform: scale(1.05);
    color: #e9e9e9;
}
.btn-ghost {
    background: transparent;
    border: 2px solid #fff;
}
.btn-ghost:hover {
    background: transparent;
    background: #fff;
    color: #000;
}
.btn-contact,
.btn-submit, 
.bnt-ver-cert {
    background: var(--complementario);
    color: black;
    font-size: .9rem;
    line-height: 1;
}
.btn-contact:hover,
.btn-submit:hover,
.bnt-ver-cert:hover {
    background: var(--complementario-brillante);
    color: black;
    justify-self: end;
}

.servicios {
    position: relative;
}
.responsive {
    margin-top: 3rem;
    height: 55vh;
    width: 100%;
    filter: brightness(.55);
    object-fit: cover;
}
.servicios .texto {
    width: 500px;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicios .texto div {
    width: 500px;
    text-align: center;
}
.texto div button {
    font-size: 1rem;
    text-align: center;
}
.servicios h3 {
    margin-top: 0;
}

@media only screen and (max-width: 850px) {
    .servicios .texto div {
        width: 80%;
        text-align: center;
        font-size: 1.1rem;
    }
}

/* SOBRE MI */
.sobre-mi div {
    display: flex;
    align-items: center;
}
.sobre-mi div .descripcion {
    margin-right: 3rem;
    font-size: 1.1rem;
    color: #4d4d4d;
}
#foto {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-left: 2rem;
    animation-name: neon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes neon{
    0% {
        -webkit-box-shadow: 0px 0px 100px 10px rgba(14,104,177,1);
        -moz-box-shadow: 0px 0px 100px 10px rgba(14,104,177,1);
        box-shadow: 0px 0px 100px 10px rgba(14,104,177,1);
    }
    50% {
        -webkit-box-shadow: 0px 0px 100px 10px rgba(41,34,171,1);
        -moz-box-shadow: 0px 0px 100px 10px rgba(41,34,171,1);
        box-shadow: 0px 0px 100px 10px rgba(41,34,171,1);
    }
    100% {
        -webkit-box-shadow: 0px 0px 100px 10px rgba(14,104,177,1);
        -moz-box-shadow: 0px 0px 100px 10px rgba(14,104,177,1);
        box-shadow: 0px 0px 100px 10px rgb(14, 102, 175);
    }
}


/* EXPERIENCIA */
.experiencia div div h4,
.educacion div div h4 {
    padding: .5rem 1.5rem;
    background: var(--bgcolor);
    color: #fff;
    min-width: max-content;
    width: 150px;
    /* text-align: center; */
    border-radius: 50px;
    margin-top: 2rem;
}
.experiencia div div h4 i,
.educacion div div h4 i {
    margin-right: .5rem;
}
.experiencia div .exp-laboral .exp-encabezado,
.educacion div .titulacion .titulacion-encabezado {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
.experiencia div .exp-laboral .exp-encabezado div:first-child,
.educacion div .titulacion .titulacion-encabezado div:first-child {
    display: flex;
    align-items: center;
}
.experiencia div .exp-laboral .exp-encabezado div:first-child img,
.educacion div .titulacion .titulacion-encabezado div:first-child img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.experiencia div .exp-laboral .exp-encabezado p,
.educacion div .titulacion .titulacion-encabezado p {
    font-size: medium;
    line-height: 1;
    margin: .25rem;
}

/* EDUCACION */
#cursos {
    display: flex;
    flex-wrap: wrap;
}
#cursos .curso {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: .5rem;
    flex: 1 1 0;
    min-width: 250px;
    max-width: 250px;
    height: 400px;
}
#cursos .curso > div {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-between;
}
#cursos .curso img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#cursos .curso p {
    word-wrap: break-word;
    margin: 0;
}
#cursos .curso ul {
    text-align: left;
    font-size: .9rem;
}
#cursos .curso div .btn {
    text-decoration: none;
    padding: .75rem 1rem;
    transform: translateY(-.5rem);
}
.curso.cursando {
    opacity: .7;
    filter: grayscale();
}
.btn-disabled {
    color: #fff;
    background: #2b2b2b;
    cursor: default;
    pointer-events: none;
}
.btn-disabled:hover {
    color: #fff;
    background: #2b2b2b;
}

/* CARRUSEL */
.tecnologias.contenedor {
    padding: 1rem 0 4rem 0;
    text-align: center;
    color: #5d5d5d;
}

.glide__slides {
    overflow: visible;
}
.glide__slide>div {
   width: 100%;
   height: 300px;
   object-fit: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.glide__slide img {
    height: 80%;
    max-height: 200px;
    object-fit: cover;
    margin: 0;
}
.glide__slide .big img {
    padding: 5%;
}
.glide__slide p {
    color: #000;
    margin: 0;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: .5rem;
}
.glide__slide .barra {
    border-radius: 1rem;
    width: 90%;
    height: 2rem;
    background: gray;
    position: relative;
    overflow: hidden;
}
.glide__slide .barra .progreso {
    background: #1f6eb8;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 0%;
}
.glide__slide--active #html .barra .progreso {
    animation-name: ochenta;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.glide__slide--active #css .barra .progreso,
.glide__slide--active #javascript .barra .progreso,
.glide__slide--active #mysql .barra .progreso {
    animation-name: setenta;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.glide__slide--active #git .barra .progreso,
.glide__slide--active #github .barra .progreso,
.glide__slide--active #bootstrap .barra .progreso {
    animation-name: sesenta;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.glide__slide--active #php .barra .progreso  {
    animation-name: cincuenta;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.glide__slide--active #python .barra .progreso,
.glide__slide--active #react .barra .progreso {
    animation-name: treinta;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
/* .glide__slide--active #cplusplus .barra .progreso {
    animation-name: veinte;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
} */

@keyframes veinte {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}
@keyframes treinta {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}
@keyframes cuarenta {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}
@keyframes cincuenta {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes sesenta {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}
@keyframes setenta {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}
@keyframes ochenta {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}
.glide__slide {
   opacity: .7;
   filter: blur(6px);
   transition: .3s linear;
}
.glide__slide--active {
   opacity: 1;
   filter: none;
   transform: scale(1.1);
}
.imagenes {
   position: relative;
}
.glide__arrow {
   position: absolute;
   z-index: 1;
   top: calc(50% - 1rem);
   color: #353535;
   opacity: .5;
   font-size: 3rem;
   transition: all .3s ease;
}
.glide__arrow:focus {
   outline: none;
}
.glide__arrow:hover {
   opacity: 1;
   cursor: pointer;
   transform: scale(1.2);
   color: rgb(0, 0, 0);
}
.glide__arrow--left {
   left: 1rem;
   background: transparent;
   border: none;
}
.glide__arrow--right {
   right: 1rem;
   background: transparent;
   border: none;
}


/* CONTACTO */
.contact-wrapper h2 {
    margin-bottom: 0;
    margin-top: 3rem;
}
.contacto {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}
.direccion {
    margin-bottom: 4rem;
}
.contacto input[type="text"], 
.contacto textarea, 
.contacto input[type="email"] {
    padding: .5rem;
    margin-bottom: .5rem;
    border: none;
    background: #c0c0c0;
    outline: none;
    border-radius: 5px;
    transition: .5s;
}
.contacto input[type="text"]:focus, 
.contacto input[type="email"]:focus,
.contacto textarea:focus {
    background: #a0a0a0;
}
.contacto textarea {
    resize: none;
}

form#form-contacto {
    display: flex;
    flex-direction: column;
}
.btn-submit {
    float: right;
    align-self: flex-end;
}
.datos-contacto {
    font-size: 0.95rem;
}
.datos-contacto div {
    margin-top: 1rem;
}
.datos-contacto i {
    font-size: 1.8rem;
}
#tel a {
    text-decoration: none;
    color: #000;
}
.datos-contacto #tel i, .datos-contacto #tel p,
.datos-contacto #email i, .datos-contacto #email p,
.datos-contacto #direccion i, .datos-contacto #direccion p {
    margin-right: 1rem;
    display: inline-block;
}
#cv .button {
    display: block;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    padding: .5rem 1.5rem;
    width: max-content;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
#cv i {
    margin-right: 1rem;
}
.gradient-animated-button {
    position: relative;
    overflow: hidden;
}
.gradient-animated-button .gradient {
    background: #87e0fd;
    /* Old browsers */
    background: -moz-linear-gradient(53deg, #d62000 0%, #ffa600 63%, #fffb02 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(53deg, #d62000 0%, #ffa600 63%, #fffb02 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(53deg, #d62000 0%, #ffa600 63%, #fffb02 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 800%;
    bottom: auto;
    margin: auto;
    z-index: -1;
}
.gradient-animated-button.on-hover:hover .gradient {
    -webkit-transform: translateY(-85%);
    -moz-transform: translateY(-85%);
    transform: translateY(-85%);
}
.gradient-animated-button.on-hover:hover {
    color: #fff!important;
}

@media only screen and (max-width: 780px) {
    .contacto {
        flex-direction: column;
    }
}

/* FOOTER */
#footer {
    background: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.social {
    font-size: 2rem;
}
.social a i {
    margin-right: 1rem!important;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.social a:hover i {
    transform: scale(1.1);
}
.social i:last-of-type {
    margin-right: 0;
}
.social i.fa-facebook-f:hover {
    color: #3b5998;
}
.social i.fa-instagram:hover {
    color: #d6249f;
}
.social i.fa-twitter:hover {
    color: #55acee;
}
.social i.fa-github:hover {
    color: #000;
}
.social i.fa-linkedin:hover {
    color: #007bb5;
}
#copyright {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
}

/* HABILIDADES */
#bg-habilidades {
    /* filter: saturate(.8); */
    height: fit-content;
    padding: 2rem;
    color: #fff;
    background: linear-gradient(-45deg, var(--bgcolor), var(--primario-brillante), var(--secundario), #d931e9);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#bg-habilidades .contenedor {
    width: 80%;
    padding: 2rem 0;
    text-align: center;
}
#bg-habilidades h3 {
    margin: 0;
}
.contenedor-habilidades {
    margin-top: 2rem;
}
.contenedor-habilidades div {
    text-align: left;
}
.contenedor-habilidades div small {
    display: none;
}

.habilidad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.habilidad i {
    color: var(--complementario);
}
.habilidad .barra {
    height: 2rem;
    flex-basis: 50%;
    align-self: auto;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255, .3);
}
.barra div {
    background-color: rgb(255, 255, 255, 1);
}

/* Habilidad del 30% */
.barra.animado > .h-30 {
    animation-name: h-30;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h-30 {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 30%;
    }
}

/* Habilidad del 40% */
.barra.animado > .h-40 {
    animation-name: h-40;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h-40 {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 40%;
    }
}

/* Habilidad del 50% */
.barra.animado > .h-50 {
    animation-name: h-50;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h-50 {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 50%;
    }
}

/* Habilidad del 60% */
.barra.animado > .h-60 {
    animation-name: h-60;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h-60 {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 60%;
    }
}

/* Habilidad del 70% */
.barra.animado > .h-70 {
    animation-name: h-70;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h-70 {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 70%;
    }
}

/* Habilidad del 80% */
.barra.animado > .h-80 {
    animation-name: h-80;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h-80 {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 80%;
    }
}


.barra.animado > .dibujo {
    animation-name: barra-dibujo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes barra-dibujo {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 70%;
    }
}

.barra.animado > .programacion {
    animation-name: barra-programacion;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes barra-programacion {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 75%;
    }
}

.barra.animado > .artes-marciales {
    animation-name: barra-am;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes barra-am {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 75%;
    }
}
.barra.animado > .logica {
    animation-name: barra-logica;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes barra-logica {
    from {
        flex-basis: 0%;
    }

    to {
        flex-basis: 80%;
    }
}

.habilidad .descripcion {
    flex-basis: 50%;
    display: flex;
    align-content: center!important;
    margin-left: 2rem;
}
.habilidad .descripcion i {
    border-radius: 100%;
    border: 3px solid #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 780px) {
    .habilidad .descripcion p {
        display: none;
    }
    .habilidad .descripcion {
        flex-basis: 20%;
    }
}

/* PROYECTOS */
.lista-proyectos {
    padding: 0;
    text-align: center;
}
.proyecto {
    margin-bottom: 1.5rem;
    text-align: left;
    max-height: 30rem;
}
.info-proyecto {
    background: #e6e6e6;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 30rem;
}
.info-proyecto img {
    width: 50%;
    object-fit: cover;
}
.info-proyecto > div > p {
    font-size:1.3rem;
}
.info-proyecto > div {
    flex-basis: 50%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor-proyectos .info-proyecto h3 {
    margin: 0;
    text-align: left;
}
.proyecto {
    position: relative;
}
#tecnologias div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-top: .5rem;
}
#tecnologias .tecnologia {
    padding: .5rem;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    max-width: max-content;
    margin-right: .5rem;
    font-weight: 600;
    font-size: .95rem;
}
#tecnologias .tecnologia i {
    margin-right: .5rem;
}
#tecnologias .tecnologia.html {
    border-color: #db5c25;
    color: #db5c25;
}
#tecnologias .tecnologia.css {
    border-color: #0096dc;
    color: #0096dc;
}
#tecnologias .tecnologia.react {
    border-color: #00d8ff;
    color: #00d8ff;
}
#tecnologias .tecnologia.javascript {
    border-color: #f7bc18;
    color: #f7bc18;
}
#tecnologias .tecnologia.php {
    border-color: #2f3e85;
    color: #2f3e85;
}
#tecnologias .tecnologia.bootstrap {
    border-color: #7719f7;
    color: #7719f7;
}
#tecnologias .tecnologia.python {
    border-color: #3b72a1;
    color: #3b72a1;
}

.cortina {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 77, 77, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: .5s;
}
.cortina a {
    color: var(--complementario);
    text-decoration: none;
    transition: .5s;
    text-align: center;
    margin-bottom: 1rem;
}
.cortina a p {
    margin: 0;
    display: inline-block;
    margin-left: .5rem;
}
.cortina a:hover {
    color: var(--complementario-brillante);
}
.proyecto:hover .cortina {
    opacity: 1;
}
#ver-mas {
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    padding: .5rem 1rem;
    background: var(--complementario);
    transition: all .3s ease;
}
#ver-mas:hover {
    background: var(--complementario-brillante);
}
#mas-proyectos {
    display: none;
}

/* Copiar email */
.mail-info {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

[tooltip]{
    position: relative;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: var(--complementario) transparent transparent transparent;
    z-index: 99;
    opacity: 0;
    transition: all 250ms ease;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-500%);
    background: var(--complementario);
    text-align: center;
    color: black;
    padding: 4px 8px;
    font-size: 14px;
    min-width: 80px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: all 250ms ease;
}

[tooltip-position ='bottom']::before {
    top: 100%;
    margin-top: 10px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 10px;
    transform: translateX(-50%) translateY(0);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 1;
}

@media only screen and (max-width: 780px) {
    .proyecto {
        max-height: max-content;
    }
    .info-proyecto {
        max-height: max-content;
    }
    .hero {
        height: 700px;
    }
    #foto {
        margin-bottom: 3rem;
    }
    .educacion .curso {
        max-width: 45%!important;
    }
    .info-proyecto {
        flex-direction: column;
    }
    .info-proyecto img {
        width: 100%;
        max-height: 400px;
    }
    .info-proyecto h3 {
        margin: 0;
    }
    .info-proyecto > div > p {
        font-size:1rem;
    }
    #form-contacto {
        margin-top: 2rem;
    }
    .btn.btn-submit {
        width: 100%;
    }
    #footer {
        flex-direction: column;
        text-align: center;
    }
    .social {
        margin: 1rem 0 1.5rem 0;
        font-size: 1.8rem;
    }
    #photo img {
        padding: .25rem;
        object-fit: cover;
    }
    .contenedor-habilidades div small {
        display: block;
    }
    #bg-habilidades {
        padding: 1rem;
    }
    #bg-habilidades .contenedor {
        width: 100%;
    }
    .habilidad {
        justify-content: space-between;
    }
    .habilidad .barra {
        flex-grow: 1;
    }
    #bg-habilidades .descripcion {
        margin-left: .75rem;
    }
    .datos-contacto i {
        margin-right: .5rem!important;
    }
}

@media only screen and (max-width: 470px) {
    h2 {
        white-space: normal;
    }
    .contenedor-hero .contenedor {
        margin-left: 2rem;
    }
    .educacion .curso {
        max-width: 100%!important;
    }
    .exp-encabezado > div:nth-child(2),
    .titulacion-encabezado > div:nth-child(2) {
        display: none;
    }
    .sobre-mi div {
        flex-direction: column;

    }
    .sobre-mi .descripcion {
        margin-right: 0;
        margin-bottom: 5rem;
    }
}