portfolio.zip
/css/glide.core.min.css
/css/normalize.css
/php/login-data.php
/scripts/node_modules/
/scripts/.rec-tmp/
/scripts/package-lock.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
